<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include('../partials/header') %>
    <% if (loginFailure) { %>
        <p>incorrect username or password</p>     

    <% } %>
    <main>
        <form action='/auth/profile?_method=get' method="POST">
            <p>Username:</p>
            <input class='text-box username' type='text' name='username' />
            <p>Password:</p>
            <input class='text-box' type='password' name='password' />
            <input class='button' type='submit' value='Login' />
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>