<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <title>Recipes | Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action='/auth/profile?_method=get' method="POST">
            Username: <input type='text' name='username' />
            Password: <input type='password' name='password' />
            <input type='submit' value='Login' />
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>