<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newrecipe.css">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <title>Recipes | New</title>
</head>
<body>
    <%- include('../partials/header') %>
    <form action='/auth/newRecipe' method="POST">
    <h3>General</h3>
        Title: <input type='text' name='title' />
        Image Url: <input type='text' name='image' />
        Description: <input type='text' name='description' />
        User Id: <input type='number' name='userId' />

    <h3>Ingredients</h3>
        <button id='addIngredient' type='button'>Add another ingredient</button>
        <div id='ingredient'>
            <p>
            Name: <input type='text' name='name' />
            Amount: <input type='number' name='quantity' />
            Unit: <input type='text' name='units' />
            </p>
        </div>

    <h3>Steps</h3>
        <button id='addStep' type='button'>Add another step</button>
        <div id="step">
            <p>
                <input class="stepNum" type='number' name='step_number' value='1'/>
                Step Directions: <input type='text' name='step' size="150"/>      
            </p>
        </div>



        <input type='submit' value='Create Recipe' />
    </form>
    <%- include('../partials/footer') %>


    <script src='/javascript/script.js'></script>
</body>
</html>