<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/auth.css" />
    <title>Recipes</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action='/auth/createUser' method='POST'>
            <p>Name:</p> <input class='text-box' type="text" name='name'/>
            <p>Username:</p> <input class='text-box username' type='text' name='username'/>
            <p>Password:</p> <input class='text-box' type='password' name='hashedpass'/>
            <p>Email:</p> <input class='text-box' type='text' name='email'>
            <input class='button' type='submit' value='Sign Up'/>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>