<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <header>
        <a href='/auth/login'>Login</a>
        <h1>Recipe App</h1>
        <a href='/auth/signup'>Sign Up</a>
    </header>
    <main>
        <% for (let i = 0; i < recipes.length; i++) { %>
            <div><%=recipes[i].title%>
                - <%=recipes[i].description%>
            </div>
            <% } %>
    </main>
</body>
</html>